<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>serverAddress</key>
	<dict>
		<key>production</key>
		<dict>
			<key>address</key>
			<string>https://api-rewardslink.getyippi.cn/</string>
			<key>merchantBizAddress</key>
			<string>https://merchant-api.getyippi.com/</string>
			<key>identifier</key>
			<string>Prod</string>
			<key>pushLiveHost</key>
			<string>push-cn.yiartkeji.com</string>
			<key>pullLiveHost</key>
			<string>pull-cn.yiartkeji.com</string>
			<key>starQuestPusherKey</key>
			<string>4688fd321c6cb10bf583</string>
			<key>alipayProductID</key>
			<string>2088931950221127</string>
			<key>alipayAppID</key>
			<string>2021004121670192</string>
			<key>miniProgramKey</key>
			<string>s6KMZXHIijkrpOn2aIUVkdcYZ8g9DvntuvzqdOGRqEk=</string>
			<key>miniProgramSecret</key>
			<string>e5fc62f3396bb2cf</string>
			<key>miniProgramServer</key>
			<string>https://mini-program.getyippi.com</string>
			<key>eshopAppId</key>
			<string>eshop_mp_app_id_production</string>
			<key>uploadFileURL</key>
			<string>https://upload-cn.yiartkeji.com/api/v2/files</string>
			<key>guestUsername</key>
			<string>yippibot00002</string>
			<key>merchantAppId</key>
			<string>rw_merchant_mp_app_id_production</string>
			<key>mapMerchantAppId</key>
			<string>rw_map_merchant_mp_app_id_production</string>
			<key>togagoClientId</key>
			<string>6</string>
			<key>togagoUrl</key>
			<string>wallet_service_togago_link</string>
			<key>merchantHost</key>
			<string>https://merchant-mini-api.getyippi.com</string>
			<key>charityAppId</key>
			<string>wallet_service_charity_appid_production</string>
			<key>creatorCenterAppId</key>
			<string>creator_center_mp_appid_prod</string>
			<key>rlCheckInAppId</key>
			<string>rewardslink_eshop_mp_app_id_production</string>
			<key>yippsHunterAppId</key>
			<string>yipps_wanted_daily_prize_pool_mp_appid_prod</string>
			<key>universalLinkApiSchema</key>
			<string>api-rewardslink.getyippi.cn</string>
			<key>universalLinkWebSchema</key>
			<string>web-rewardslink.getyippi.cn</string>
			<key>universalLinkRegisterSchema</key>
			<string>register-rewardslink.getyippi.cn</string>
			<key>deepLinkSchema</key>
			<string>rewardslink</string>
			<key>imAppKey</key>
			<string>1139171207178196#thinksns-plus</string>
			<key>imApnsName</key>
			<string>TsIMHYTestDis</string>
			<key>engageKey</key>
			<string>b83751e43ba2900049627cb9</string>
			<key>afAppID</key>
			<string>6468456251</string>
			<key>afDevKey</key>
			<string>jzkpDJqmjpdpAjXSWoeibD</string>
			<key>afInviteOneLinkID</key>
			<string>uLlg</string>
			<key>afBrandDomain</key>
			<string>rewardslink.getyippi.cn</string>
			<key>scashURL</key>
			<string>https://rewardslink-payment-gateway.getyippi.cn</string>
			<key>redpayURL</key>
			<string>https://redpay-core.getyippi.com</string>
			<key>eventAddress</key>
			<string>https://develop-airec-backend.getyippi.com/</string>
		</dict>
		<key>preproduction</key>
		<dict>
			<key>address</key>
			<string>https://preprod-api-rewardslink.getyippi.cn/</string>
			<key>merchantBizAddress</key>
			<string>https://prelive-merchant-api-v3.getyippi.com/</string>
			<key>identifier</key>
			<string>Preprod</string>
			<key>pushLiveHost</key>
			<string>pushstaging-cn.yiartkeji.com</string>
			<key>pullLiveHost</key>
			<string>pullstaging-cn.yiartkeji.com</string>
			<key>starQuestPusherKey</key>
			<string>c40fd2e412798e9e321b</string>
			<key>alipayProductID</key>
			<string>2088931950221127</string>
			<key>alipayAppID</key>
			<string>2021004121616176</string>
			<key>miniProgramKey</key>
			<string>s6KMZXHIijkrpOn2aIUVkeHztELfmwsblS9tOGc60og=</string>
			<key>miniProgramSecret</key>
			<string>444dde37c9c02ed4</string>
			<key>miniProgramServer</key>
			<string>http://8.210.106.16:30000</string>
			<key>eshopAppId</key>
			<string>eshop_mp_app_id_staging</string>
			<key>uploadFileURL</key>
			<string>https://preprod-api-rewardslink.getyippi.cn/api/v2/files</string>
			<key>guestUsername</key>
			<string>yippibot20000</string>
			<key>merchantAppId</key>
			<string>rw_merchant_mp_app_id_staging</string>
			<key>mapMerchantAppId</key>
			<string>rw_map_merchant_mp_app_id_staging</string>
			<key>togagoClientId</key>
			<string>14</string>
			<key>togagoUrl</key>
			<string>wallet_service_togago_link_test</string>
			<key>merchantHost</key>
			<string>https://qa-merchant-mini-api.getyippi.com</string>
			<key>charityAppId</key>
			<string>wallet_service_charity_appid_stg</string>
			<key>creatorCenterAppId</key>
			<string>creator_center_mp_appid_stg</string>
			<key>rlCheckInAppId</key>
			<string>rewardslink_eshop_mp_app_id_staging</string>
			<key>yippsHunterAppId</key>
			<string>yipps_wanted_daily_prize_pool_mp_appid_stg</string>
			<key>universalLinkApiSchema</key>
			<string>preprod-api-rewardslink.getyippi.cn</string>
			<key>universalLinkWebSchema</key>
			<string>preprod-web-rewardslink.getyippi.cn</string>
			<key>universalLinkRegisterSchema</key>
			<string>register-rewardslink.getyippi.cn</string>
			<key>deepLinkSchema</key>
			<string>rewardslinkstg</string>
			<key>imAppKey</key>
			<string>1139171207178196#test-plus</string>
			<key>imApnsName</key>
			<string>TsIMHYTestDev</string>
			<key>engageKey</key>
			<string>d92a6ad9e1ea807e7300ca74</string>
			<key>afAppID</key>
			<string>0124868555</string>
			<key>afDevKey</key>
			<string>jzkpDJqmjpdpAjXSWoeibD</string>
			<key>afInviteOneLinkID</key>
			<string>4NLA</string>
			<key>afBrandDomain</key>
			<string>preprod-rewardslink.getyippi.cn</string>
			<key>scashURL</key>
			<string>https://preprod-rewardslink-payment-gateway.getyippi.cn</string>
			<key>redpayURL</key>
			<string>https://redpay-core.getyippi.com</string>
			<key>eventAddress</key>
			<string>https://develop-airec-backend.getyippi.com/</string>
		</dict>
		<key>staging</key>
		<dict>
			<key>address</key>
			<string>https://qa-api.getyippi.com/</string>
			<key>merchantBizAddress</key>
			<string>https://prelive-merchant-api-v3.getyippi.com/</string>
			<key>identifier</key>
			<string>Stg</string>
			<key>pushLiveHost</key>
			<string>pushstaging-cn.yiartkeji.com</string>
			<key>pullLiveHost</key>
			<string>pullstaging-cn.yiartkeji.com</string>
			<key>starQuestPusherKey</key>
			<string>c40fd2e412798e9e321b</string>
			<key>alipayProductID</key>
			<string>2088931950221127</string>
			<key>alipayAppID</key>
			<string>2021004121616176</string>
			<key>miniProgramKey</key>
			<string>0FIY0Zz/itZCUjLYhNyOzI1yXMPsbuRdJ4eGl8Xj5Zc=</string>
			<key>miniProgramSecret</key>
			<string>816652014ea7f7a6</string>
			<key>miniProgramServer</key>
			<string>http://8.210.106.16:30000</string>
			<key>eshopAppId</key>
			<string>eshop_mp_app_id_staging</string>
			<key>uploadFileURL</key>
			<string>https://qa-api.getyippi.com/api/v2/files</string>
			<key>guestUsername</key>
			<string>yippibot20000</string>
			<key>merchantAppId</key>
			<string>rw_merchant_mp_app_id_staging</string>
			<key>mapMerchantAppId</key>
			<string>rw_map_merchant_mp_app_id_staging</string>
			<key>togagoClientId</key>
			<string>14</string>
			<key>togagoUrl</key>
			<string>wallet_service_togago_link_test</string>
			<key>merchantHost</key>
			<string>https://qa-merchant-mini-api.getyippi.com</string>
			<key>charityAppId</key>
			<string>wallet_service_charity_appid_stg</string>
			<key>creatorCenterAppId</key>
			<string>creator_center_mp_appid_stg</string>
			<key>rlCheckInAppId</key>
			<string>rewardslink_eshop_mp_app_id_staging</string>
			<key>yippsHunterAppId</key>
			<string>yipps_wanted_daily_prize_pool_mp_appid_stg</string>
			<key>universalLinkApiSchema</key>
			<string>preprod-api-rewardslink.getyippi.cn</string>
			<key>universalLinkWebSchema</key>
			<string>preprod-web-rewardslink.getyippi.cn</string>
			<key>universalLinkRegisterSchema</key>
			<string>register-rewardslink.getyippi.cn</string>
			<key>deepLinkSchema</key>
			<string>rewardslinkstg</string>
			<key>imAppKey</key>
			<string>1139171207178196#test-plus</string>
			<key>imApnsName</key>
			<string>TsIMHYTestDev</string>
			<key>engageKey</key>
			<string>d92a6ad9e1ea807e7300ca74</string>
			<key>afAppID</key>
			<string>0124868555</string>
			<key>afDevKey</key>
			<string>jzkpDJqmjpdpAjXSWoeibD</string>
			<key>afInviteOneLinkID</key>
			<string>4NLA</string>
			<key>afBrandDomain</key>
			<string>preprod-rewardslink.getyippi.cn</string>
			<key>scashURL</key>
			<string>https://preprod-rewardslink-payment-gateway.getyippi.cn</string>
			<key>redpayURL</key>
			<string>https://redpay-core.getyippi.com</string>
			<key>eventAddress</key>
			<string>https://develop-airec-backend.getyippi.com/</string>
		</dict>
		<key>custom</key>
		<dict>
			<key>address</key>
			<string>https://qa-api.getyippi.com</string>
			<key>merchantBizAddress</key>
			<string>https://prelive-merchant-api-v3.getyippi.com/</string>
			<key>identifier</key>
			<string>Cus</string>
			<key>pushLiveHost</key>
			<string>pushstaging-cn.yiartkeji.com</string>
			<key>pullLiveHost</key>
			<string>pullstaging-cn.yiartkeji.com</string>
			<key>starQuestPusherKey</key>
			<string>4688fd321c6cb10bf583</string>
			<key>alipayProductID</key>
			<string>2088931950221127</string>
			<key>alipayAppID</key>
			<string>2021004121616176</string>
			<key>miniProgramKey</key>
			<string>0FIY0Zz/itZCUjLYhNyOzI1yXMPsbuRdJ4eGl8Xj5Zc=</string>
			<key>miniProgramSecret</key>
			<string>816652014ea7f7a6</string>
			<key>miniProgramServer</key>
			<string>http://8.210.106.16:30000</string>
			<key>eshopAppId</key>
			<string>eshop_mp_app_id_staging</string>
			<key>uploadFileURL</key>
			<string>https://qa-upload-cn.yiartkeji.com/api/v2/files</string>
			<key>guestUsername</key>
			<string>yippibot20000</string>
			<key>merchantAppId</key>
			<string>rw_merchant_mp_app_id_staging</string>
			<key>mapMerchantAppId</key>
			<string>rw_map_merchant_mp_app_id_staging</string>
			<key>togagoClientId</key>
			<string>14</string>
			<key>togagoUrl</key>
			<string>wallet_service_togago_link_test</string>
			<key>merchantHost</key>
			<string>https://qa-merchant-mini-api.getyippi.com</string>
			<key>charityAppId</key>
			<string>wallet_service_charity_appid_stg</string>
			<key>creatorCenterAppId</key>
			<string>creator_center_mp_appid_stg</string>
			<key>rlCheckInAppId</key>
			<string>rewardslink_eshop_mp_app_id_staging</string>
			<key>yippsHunterAppId</key>
			<string>yipps_wanted_daily_prize_pool_mp_appid_stg</string>
			<key>universalLinkApiSchema</key>
			<string>preprod-api-rewardslink.getyippi.cn</string>
			<key>universalLinkWebSchema</key>
			<string>preprod-web-rewardslink.getyippi.cn</string>
			<key>universalLinkRegisterSchema</key>
			<string>register-rewardslink.getyippi.cn</string>
			<key>deepLinkSchema</key>
			<string>rewardslinkstg</string>
			<key>imAppKey</key>
			<string>1139171207178196#test-plus</string>
			<key>imApnsName</key>
			<string>TsIMHYTestDev</string>
			<key>engageKey</key>
			<string>d92a6ad9e1ea807e7300ca74</string>
			<key>afAppID</key>
			<string>0124868555</string>
			<key>afDevKey</key>
			<string>jzkpDJqmjpdpAjXSWoeibD</string>
			<key>afInviteOneLinkID</key>
			<string>4NLA</string>
			<key>afBrandDomain</key>
			<string>preprod-rewardslink.getyippi.cn</string>
			<key>scashURL</key>
			<string>https://preprod-rewardslink-payment-gateway.getyippi.cn</string>
			<key>redpayURL</key>
			<string>https://redpay-core.getyippi.com</string>
			<key>eventAddress</key>
			<string>https://develop-airec-backend.getyippi.com/</string>
		</dict>
	</dict>
	<key>isHiddenGuestLoginButtonInLaunch</key>
	<false/>
	<key>NTESVerifyCodeID</key>
	<string>1e350662213846568dc80ded7ef30ebe</string>
	<key>sobotGroupId</key>
	<string>8697b995291c41a08244729948138a05</string>
	<key>LokaliseProjectID</key>
	<string>273614075cde2f406ea929.08347545</string>
	<key>LokaliseSDKToken</key>
	<string>ec226dbf19bcb90cf0e2c80846a9cf8c1aeebc70</string>
</dict>
</plist>
